<div class="error-container">
    <h2>Erro</h2>
    <div class="error-message">
        {{#if error}}
            <p>{{error}}</p>
        {{else}}
            <p>Ocorreu um erro inesperado.</p>
        {{/if}}
    </div>
    <div class="error-actions">
        <a href="/" class="btn">Voltar para Home</a>
    </div>
</div>