<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-4" style="color: #f702ad;">Login</h2>
    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form action="/users/login" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="form-group mb-3">
        <label for="username" class="form-label">Nome usuario</label>
        <input type="username" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-danger w-100 mb-3">Entrar</button>
    </form>
    <div class="text-center">
      <p class="mb-0">Ainda não tem uma conta? <a href="/users/register" style="color: #ee0d23; text-decoration: none;">Cadastre-se</a></p>
    </div>
  </div>
</div>